@import "./utility/_navbar.scss";
@import "./utility/_reset.scss";

#main-section {
    .about-img {
        object-fit: cover !important;
        position: absolute;
        height: 600px;
        width: 950px;
        right: 0;
        top: 0;
        z-index: -2;
    }

    .overlay-div {
        position: absolute;
        height: 600px;
        width: 950px;
        right: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
        background-color: #302c2d;
    }

    .grey-background {
        height: calc(670px + 600px);
        width: 100vw;
        z-index: -5;
        background-color: #302c2d;
        position: absolute;
        top: 0;
    }

    h1 {
        font-size: 67px;
        font-family: 'Inter';
        line-height: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        width: 78vw;
        position: absolute;
        left: 12vw;
        top: 375px;
    }

    h6 {
        position: absolute;
        left: 12vw;
        white-space: pre-line;
        text-overflow: clip;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 13px;
        text-transform: none;
        color: #fff;
        text-align: left;
        top: 360px;
    }
}

#partnership {
    .banner {
        height: 670px;
        width: 10vw;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 600px;
    }

    .partnership-img {
        height: 670px;
        width: 42vw;
        object-fit: cover;
        position: absolute;
        left: 10vw;
        top: 600px;
        opacity: 0.9;
    }

    .overlay-div2 {
        height: 670px;
        width: 42vw;
        left: 10vw;
        top: 600px;
        opacity: 0.7;
        background-color: #4b494a;
        position: absolute;
    }

    .text-container {
        position: absolute;
        top: 715px;
        right: 5vw;

        h6 {
            white-space: pre-line;
            text-overflow: clip;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 13px;
            text-transform: none;
            color: #fff;
            text-align: left;
            width: 40vw;
        }

         
        h1 {
            font-size: 40px;
            font-family: 'Inter';
            line-height: 1.3em;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            text-align: left;
            width: 40vw;
            margin-bottom: 40px;
        }

        ul {
            li {
                text-transform: none;
                white-space: pre-line;
                font-family: 'Inter';
                line-height: 1.4em;
                font-weight: 300;
                font-size: 14px;
                color: rgb(255, 255, 255);
                margin-top: 10px;
                margin-left: 25px;
                list-style: inside;
            }
        }
    }
}

#information {
    position: absolute;
    top: calc(600px + 670px);

    img {
        position: absolute;
        top: -0.5px;
        z-index: -1;
        height: 750px;
        width: 100vw;
        object-fit: cover;
    }

    h6 {
        position: relative;
        white-space: pre-line;
        text-overflow: clip;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 13px;
        text-transform: none;
        color: #fff;
        text-align: left;
        left: 10vw;
        top: 100px;
    }

    h1 {
        font-size: 50px;
        font-family: 'Inter';
        line-height: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        width: 78vw;
        position: relative;
        left: 10vw;
        top: 105px;
    }

    p {
        position: relative;
        text-transform: none;
        white-space: pre-line;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 16px;
        width: 50vw;
        color: #fff;
        top: 110px;
        left: 10vw;
        margin-bottom: 35px;
    }

    .flex-container {
        position: relative;
        top: 125px;
        display: flex;
        left: 10vw;
        width: 100vw;
        gap: 8vw;

        h2 {
            margin-top: 10px;
            text-transform: none;
            white-space: pre-line;
            text-overflow: clip;
            font-family: 'Inter';
            line-height: 1.3em;
            font-weight: 700;
            font-size: 24px;
            color: rgb(219, 255, 0);
        }

        p {
            top: 15px;
            left: 0px;
            width: 21vw;
            margin: 0;
        }

        .ri-crosshair-line, .ri-basketball-fill, .ri-money-dollar-circle-line {
            font-size: 40px;
            color: rgb(219, 255, 0);
        }
    }
}

#philosophy {
    position: absolute;
    top: calc(600px + 670px + 749px);
    width: 100vw;

    .banner {
        height: 670px;
        width: 10vw;
        position: absolute;
        object-fit: cover;
        right: 0px;
    }

    .philosophy-img {
        height: 670px;
        width: 42vw;
        position: absolute;
        right: 10vw;
        object-fit: cover;
        opacity: 0.9;
    }

    .overlay-div3 {
        height: 670px;
        width: 42vw;
        right: 10vw;
        opacity: 0.7;
        background-color: #4b494a;
        position: absolute;
    }

    .text-container {
        position: absolute;
        top: 200px;
        left: 3vw;

        h6 {
            white-space: pre-line;
            text-overflow: clip;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 13px;
            text-transform: none;
            color: #000;
            text-align: left;
            width: 40vw;
        }

         
        h1 {
            font-size: 40px;
            font-family: 'Inter';
            line-height: 1.3em;
            font-weight: 700;
            text-transform: uppercase;
            color: #000;
            text-align: left;
            width: 40vw;
        }

        p {
            width: 40vw;
            text-transform: none;
            white-space: pre-line;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 16px;
            color: #000;
            margin-top: 10px;
        }

        button {
            font-family: 'Inter';
            display: inline-block;
            color: white;
            border: 2px solid rgb(149, 0, 255);
            background: rgb(149, 0, 255);
            padding: 12px 40px;
            line-height: 1.4;
            font-size: 16px;
            font-weight: 500;
            border-radius: 30px;
            text-transform: uppercase;
            transition: all .5s ease;
            margin-top: 25px;
            cursor: pointer;
    
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        button:hover {
            background: transparent;
            border: 2px solid rgb(149, 0, 255);

            a {
                color: #000;
            }
        }
    }
}

footer {
    top: calc(600px + 670px + 749px + 600px);
    height: 600px;
    width: 100vw;
    position: absolute;
    background-color: #302c2d;

    .banner {
        height: 600px;
        width: 2vw;
        position: absolute;
        left: 0px;
        object-fit: cover;
    }

    .footer-img {
        height: 500px;
        width: 88vw;
        object-fit: cover;
        opacity: 0.9;
        left: 2vw;
        position: absolute;
    }

    .overlay-div5 {
        position: absolute;
        height: 500px;
        width: 88vw;
        left: 2vw;
        background-color:rgba(48, 44, 45, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            margin: 0px;
            white-space: pre-line;
            text-overflow: clip;
            font-family: Inter;
            line-height: 1.3em;
            font-weight: 700;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-size: 42px;
            text-align: center;
        }

        button {
            font-family: 'Inter';
            display: inline-block;
            border: none;
            background: rgba(13, 232, 5, 0.705);
            padding: 12px 40px;
            line-height: 1.4;
            font-size: 16px;
            font-weight: 500;
            border-radius: 30px;
            text-transform: uppercase;
            transition: all .5s ease;
            margin-top: 5vh;
            cursor: pointer;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    button:hover {
        background: rgb(17, 94, 17);
    }
}





