@import "./utility/_navbar.scss";
@import "./utility/_reset.scss";

#main-section {
    .about-img {
        object-fit: cover !important;
        position: absolute;
        height: 600px;
        width: 950px;
        right: 0;
        top: 0;
        z-index: -2;
    }

    .overlay-div {
        position: absolute;
        height: 600px;
        width: 950px;
        right: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
        background-color: #302c2d;
    }

    .grey-background {
        height: calc(670px + 600px);
        width: 100vw;
        z-index: -5;
        background-color: #302c2d;
        position: absolute;
        top: 0;
    }

    h1 {
        font-size: 67px;
        font-family: 'Inter';
        line-height: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        width: 78vw;
        position: absolute;
        left: 12vw;
        top: 375px;
    }

    h6 {
        position: absolute;
        left: 12vw;
        white-space: pre-line;
        text-overflow: clip;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 13px;
        text-transform: none;
        color: #fff;
        text-align: left;
        top: 360px;

    }
}

#hero-part2 {
    .banner {
        height: 670px;
        width: 10vw;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 600px;
    }

    .about-section-img {
        height: 670px;
        width: 42vw;
        object-fit: cover;
        position: absolute;
        left: 10vw;
        top: 600px;
    }

    .overlay-div2 {
        height: 670px;
        width: 42vw;
        left: 10vw;
        top: 600px;
        opacity: 0.7;
        background-color: #4b494a;
        position: absolute;
    }

    .text-container {
        position: absolute;
        top: 800px;
        right: 5vw;

        h6 {
            white-space: pre-line;
            text-overflow: clip;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 13px;
            text-transform: none;
            color: #fff;
            text-align: left;
            width: 40vw;
        }
    
        h1 {
            font-size: 52px;
            font-family: 'Inter';
            line-height: 1.3em;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            text-align: left;
            width: 40vw;
        }
    
        p {
            width: 40vw;
            text-transform: none;
            white-space: pre-line;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 16px;
            color: #fff;
            margin-top: 10px;
        }
    }
}

