@use "./utility/_navbar.scss";
@use "./utility/_reset.scss";

#main-section {
    .about-img {
        object-fit: cover !important;
        position: absolute;
        height: 600px;
        width: 950px;
        right: 0;
        top: 0;
        z-index: -2;
    }

    .overlay-div {
        position: absolute;
        height: 600px;
        width: 950px;
        right: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
        background-color: #302c2d;
    }

    .grey-background {
        height: calc(670px + 600px);
        width: 100vw;
        z-index: -5;
        background-color: #302c2d;
        position: absolute;
        top: 0;
    }

    h1 {
        font-size: 67px;
        font-family: 'Inter';
        line-height: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        width: 78vw;
        position: absolute;
        left: 12vw;
        top: 375px;
    }

    h6 {
        position: absolute;
        left: 12vw;
        white-space: pre-line;
        text-overflow: clip;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 13px;
        text-transform: none;
        color: #fff;
        text-align: left;
        top: 360px;
    }
}

#partnership {
    .banner {
        height: 670px;
        width: 10vw;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 600px;
    }

    .partnership-img {
        height: 670px;
        width: 42vw;
        object-fit: cover;
        position: absolute;
        left: 10vw;
        top: 600px;
        opacity: 0.9;
    }

    .overlay-div2 {
        height: 670px;
        width: 42vw;
        left: 10vw;
        top: 600px;
        opacity: 0.7;
        background-color: #4b494a;
        position: absolute;
    }

    .text-container {
        position: absolute;
        top: 715px;
        left: 52vw;
        margin-left: 50px;

        h6 {
            white-space: pre-line;
            text-overflow: clip;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 13px;
            text-transform: none;
            color: #fff;
            text-align: left;
            width: 40vw;
        }

         
        h1 {
            font-size: 40px;
            font-family: 'Inter';
            line-height: 1.3em;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            text-align: left;
            width: 40vw;
            margin-bottom: 40px;
        }

        ul {
            li {
                text-transform: none;
                white-space: pre-line;
                font-family: 'Inter';
                line-height: 1.4em;
                font-weight: 300;
                font-size: 14px;
                color: rgb(255, 255, 255);
                margin-top: 10px;
                margin-left: 25px;
                list-style: inside;
            }
        }
    }
}

#information {
    position: absolute;
    top: calc(600px + 670px);

    img {
        position: absolute;
        top: -0.5px;
        z-index: -1;
        height: 750px;
        width: 100vw;
        object-fit: cover;
    }

    h6 {
        position: relative;
        white-space: pre-line;
        text-overflow: clip;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 13px;
        text-transform: none;
        color: #fff;
        text-align: left;
        left: 10vw;
        top: 100px;
    }

    h1 {
        font-size: 50px;
        font-family: 'Inter';
        line-height: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        width: 78vw;
        position: relative;
        left: 10vw;
        top: 105px;
    }

    p {
        position: relative;
        text-transform: none;
        white-space: pre-line;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 16px;
        width: 50vw;
        color: #fff;
        top: 110px;
        left: 10vw;
        margin-bottom: 35px;
    }

    .flex-container {
        position: relative;
        top: 125px;
        display: flex;
        left: 10vw;
        width: 100vw;
        gap: 8vw;

        h2 {
            margin-top: 10px;
            text-transform: none;
            white-space: pre-line;
            text-overflow: clip;
            font-family: 'Inter';
            line-height: 1.3em;
            font-weight: 700;
            font-size: 24px;
            color: rgb(219, 255, 0);
        }

        p {
            top: 15px;
            left: 0px;
            width: 21vw;
            margin: 0;
        }

        .ri-crosshair-line, .ri-basketball-fill, .ri-money-dollar-circle-line {
            font-size: 40px;
            color: rgb(219, 255, 0);
        }
    }
}

#philosophy {
    position: absolute;
    top: calc(600px + 670px + 749px);
    width: 100vw;

    .banner {
        height: 670px;
        width: 10vw;
        position: absolute;
        object-fit: cover;
        right: 0px;
    }

    .philosophy-img {
        height: 670px;
        width: 42vw;
        position: absolute;
        right: 10vw;
        object-fit: cover;
        opacity: 0.9;
    }

    .overlay-div3 {
        height: 670px;
        width: 42vw;
        right: 10vw;
        opacity: 0.7;
        background-color: #4b494a;
        position: absolute;
    }

    .text-container {
        position: absolute;
        top: 200px;
        left: 3vw;

        h6 {
            white-space: pre-line;
            text-overflow: clip;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 13px;
            text-transform: none;
            color: #000;
            text-align: left;
            width: 40vw;
        }

         
        h1 {
            font-size: 40px;
            font-family: 'Inter';
            line-height: 1.3em;
            font-weight: 700;
            text-transform: uppercase;
            color: #000;
            text-align: left;
            width: 40vw;
        }

        p {
            width: 40vw;
            text-transform: none;
            white-space: pre-line;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 16px;
            color: #000;
            margin-top: 10px;
        }

        button {
            font-family: 'Inter';
            display: inline-block;
            color: white;
            border: 2px solid rgb(149, 0, 255);
            background: rgb(149, 0, 255);
            padding: 12px 40px;
            line-height: 1.4;
            font-size: 16px;
            font-weight: 500;
            border-radius: 30px;
            text-transform: uppercase;
            transition: all .5s ease;
            margin-top: 25px;
            cursor: pointer;
    
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        button:hover {
            background: transparent;
            border: 2px solid rgb(149, 0, 255);

            a {
                color: #000;
            }
        }
    }
}

footer {
    top: calc(600px + 670px + 749px + 600px);
    height: 600px;
    width: 100vw;
    position: absolute;
    background-color: #302c2d;

    .footer-img {
        height: 500px;
        width: 100vw;
        object-fit: cover;
        opacity: 0.9;
        left: 0vw;
        position: absolute;
    }

    .overlay-div5 {
        position: absolute;
        height: 500px;
        width: 100vw;
        left: 0vw;
        background-color:rgba(48, 44, 45, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            margin: 0px;
            white-space: pre-line;
            text-overflow: clip;
            font-family: Inter;
            line-height: 1.3em;
            font-weight: 700;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-size: 42px;
            text-align: center;
        }

        button {
            font-family: 'Inter';
            display: inline-block;
            border: none;
            background: rgba(13, 232, 5, 0.705);
            padding: 12px 40px;
            line-height: 1.4;
            font-size: 16px;
            font-weight: 500;
            border-radius: 30px;
            text-transform: uppercase;
            transition: all .5s ease;
            margin-top: 5vh;
            cursor: pointer;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    button:hover {
        background: rgb(17, 94, 17);
    }
}

@media (max-width: 1182px) {
    #main-section {
        h1 {
            font-size: 58px;
            top: 345px;
        }

        h6 {
            top: 330px;
        }
    }
    #information {
        p {
            width: 70vw;
        }
    }

    #philosophy {
        .text-container {
            top: 175px;
        }
    }
}

@media (max-width: 1024px) {
    #main-section {
        h1 {
            font-size: 52px;
        }
    }
    nav {
        .hamburger {
            display: block !important;
        }

        li a {
            display: none;
        }
    }
    #information {
        p {
            width: 80vw;
        }

        .flex-container {
            p {
                width: 22vw;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 1002px) {
    #main-section {
        .about-img {
            width: 750px !important;
        }
    }

    #partnership {
        .text-container {
            margin-left: 30px;
            h1 {
                font-size: 35px;
            }
        }
    }
}

@media (max-width: 890px) {
    #philosophy {
        .text-container {
            top: 150px;
        }
    }

    #partnership {
        .text-container {
            top: 705px;
        }
    }
}

@media (max-width: 830px) {
    #information {
        img {
            height: 950px;
        }

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 15px;
        }

        .flex-container {
            flex-direction: column;
            gap: 6vw;

            p {
                width: 85vw;
                margin-top: -5px;
            }

            h2 {
                font-size: 20px;
                margin-top: 3px;
            }

            .ri-crosshair-line, .ri-basketball-fill, .ri-money-dollar-circle-line {
                font-size: 35px;
                color: rgb(219, 255, 0);
            }
        }
    }

    #philosophy {
        top: calc(600px + 670px + 949px);
    }

    footer {
        top: calc(600px + 670px + 949px + 600px);

        h1 {
            font-size: 38px !important;
        }
    }
}

@media (max-width: 800px) {
    #philosophy {
        top: calc(600px + 670px + 949px);
        
        .text-container {
            top: 120px;

            h1 {
                font-size: 36px;
            }
        }
    }
}

@media (max-width: 768px) {
    #main-section {
        .about-img {
            width: 650px !important;
        }
    }

    #partnership {
        .text-container {
            top: 670px;
            left: 5vw;
            margin-left: 0;

            h6, h1, p {
                width: 80vw;
            }

            ul {
                display: flex;

                div {
                    margin-top: -30px;

                    li {
                        margin-top: 2px;
                        margin-left: 28px;
                    }
                }
            }
        }
        .partnership-img, .overlay-div2 {
            width: 85vw;
            top: 920px;
            left: 15vw;
            height: 520px;
        }

        .banner {
            width: 15vw;
            right: 0px !important;
            top: 920px;
            height: 520px;
        }
    }

    #information {
        top: calc(600px + 840px);
    }

    #philosophy {
        top: calc(600px + 990px + 801px);
    
        .text-container {
            margin-top: -75px;
            left: 5vw;
            margin-left: 0;

            h6, h1, p {
                width: 80vw;
            }

            ul {
                display: flex;

                div {
                    margin-top: -30px;

                    li {
                        margin-top: -2px;
                    }
                }
            }
        }
        .philosophy-img, .overlay-div3 {
            width: 85vw;
            top: 350px;
            left: 15vw;
            height: 520px;
        }

        .banner {
            width: 15vw;
            top: 350px;
            left: 0vw;
            height: 520px;
        }
    }

    footer {
        top: calc(600px + 990px + 949px + 720px);
    }

    #partnership {
        .text-container {
            ul li {
                margin-left: 6px;
            }
        }
    }
}

@media (max-width: 690px ) {
    #main-section {
        .about-img {
            width: 550px !important;
            height: 500px;
        }

        h1 {
            font-size: 50px;
            width: 80vw;
            top: 270px;
        }

        h6 {
            top: 255px;
        }

        h6, h1 {
            left: 8vw;
        }
    }

    #partnership {
        .text-container {
            top: 560px;

            h6 {
                font-size: 13px !important;
            }

            h1 {
                font-size: 40px !important;
            }

            p {
                font-size: 16px !important;
            }
        }
    }

    #partnership {
        .partnership-img, .overlay-div2, .banner {
            top: 850px !important;
        }
    }

    #information {
        top: calc(600px + 770px);
    }

    #philosophy {
        top: calc(600px + 990px + 820px);

        .text-container {
            margin-top: -125px !important;
        }
    }
}

@media (max-width: 620px) {
    #partnership {
        .text-container {
            margin-left: -10px !important;

            ul li {
                margin-left: 12px !important;
            }
        }
    }
}

@media (max-width: 580px) {
    #main-section {
        .about-img {
            width: 520px !important;
            height: 460px;
        }

        h1 {
            font-size: 45px;
            top: 220px;
        }

        h6 {
            top: 195px;
        }

        h6, h1 {
            left: 8vw;
        }
    }

    #partnership {
        .text-container {
            h1 {
                font-size: 30px !important;
            }

            li {
                margin-top: -2px !important;
                margin-left: 3px !important;
                font-size: 13.5px !important;
            }
        }
    }

    #philosophy {
        .text-container {
            margin-top: -150px !important;

            h1 {
                font-size: 35px;
            }
        }
    }

    footer {
        h1 {
            font-size: 30px !important;
        }
    }
}

@media (max-width: 500px) {
    #partnership {
        .text-container {
            li {
                font-size: 13px !important;
            }
        }
    }

    #information {
        h1 {
            font-size: 35px;
        }

        h2 {
            font-size: 18px !important;
        }

        p {
            font-size: 14px !important;
        }

        .flex-container {
            p {
                font-size: 14px !important;
            }
        }
    }
}

@media (max-width: 450px) {
    #partnership {
        .text-container {
            top: 540px;
        }
    }
}

@media (max-width: 690px) {
    #main-section {
        .about-img {
            width: 550px !important;
            height: 500px;
        }

        h1 {
            font-size: 50px;
            width: 80vw;
            top: 270px;
        }

        h6 {
            top: 255px;
        }

        h6, h1 {
            left: 8vw;
        }
    }

    #partnership {
        .text-container {
            top: 560px;

            h6 {
                font-size: 13px !important;
            }

            h1 {
                font-size: 40px !important;
            }

            p {
                font-size: 16px !important;
            }
        }
    }

    #partnership {
        .partnership-img, .overlay-div2, .banner {
            top: 850px !important;
        }
    }

    #information {
        top: calc(600px + 770px);
    }

    #philosophy {
        top: calc(600px + 990px + 820px);

        .text-container {
            margin-top: -125px !important;
        }
    }
}

@media (max-width: 620px) {
    #partnership {
        .text-container {
            margin-left: -10px !important;

            ul li {
                margin-left: 12px !important;
            }
        }
    }
}

@media (max-width: 580px) {
    #main-section {
        .about-img {
            width: 520px !important;
            height: 460px;
        }

        h1 {
            font-size: 45px;
            top: 220px;
        }

        h6 {
            top: 195px;
        }

        h6, h1 {
            left: 8vw;
        }
    }

    #partnership {
        .text-container {
            h1 {
                font-size: 30px !important;
            }

            li {
                margin-top: -2px !important;
                margin-left: 3px !important;
                font-size: 13.5px !important;
            }
        }
    }

    #philosophy {
        .text-container {
            margin-top: -150px !important;

            h1 {
                font-size: 35px;
            }
        }
    }

    footer {
        h1 {
            font-size: 30px !important;
        }
    }
}

@media (max-width: 500px) {
    #partnership {
        .text-container {
            li {
                font-size: 13px !important;
            }
        }
    }

    #information {
        h1 {
            font-size: 35px;
        }

        h2 {
            font-size: 18px !important;
        }

        p {
            font-size: 14px !important;
        }

        .flex-container {
            p {
                font-size: 14px !important;
            }
        }
    }
}

@media (max-width: 450px) {
    #partnership {
        .text-container {
            top: 540px;
        }
    }
}