@import "./utility/_navbar.scss";
@import "./utility/_reset.scss";

#main-section {
    height: 600px;
    background-color: #302c2d;

    .apply-img {
        object-fit: cover !important;
        position: absolute;
        height: 600px;
        width: 950px;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .overlay-div {
        position: absolute;
        height: 600px;
        width: 950px;
        left: 0;
        top: 0;
        z-index: 3;
        opacity: 0.7;
        background-color: #302c2d;
    }

    h1 {
        font-size: 67px;
        font-family: 'Inter';
        line-height: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        width: 78vw;
        position: absolute;
        left: 12vw;
        top: 375px;
        z-index: 4;
    }

    h6 {
        position: absolute;
        left: 12vw;
        white-space: pre-line;
        text-overflow: clip;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 13px;
        text-transform: none;
        color: #fff;
        text-align: left;
        top: 360px;
        z-index: 4;
    }
}

#apply {
    .banner {
        width: 100vw;
        object-fit: cover;
        height: 145px;
    }

    .flex-container {
        display: flex;

        .text-container {
            margin: 100px 25px 0px 9vw;
            width: 38vw;

            h6 {
                white-space: pre-line;
                text-overflow: clip;
                font-family: 'Inter';
                line-height: 1.4em;
                font-weight: 300;
                font-size: 13px;
                text-transform: none;
                color: #000;
                text-align: left;
            }

            h1 {
                font-size: 42px;
                font-family: 'Inter';
                line-height: 1.3em;
                font-weight: 700;
                text-transform: uppercase;
                color: #000;
                text-align: left;
            }

            p {
                text-transform: none;
                white-space: pre-line;
                font-family: 'Inter';
                line-height: 1.4em;
                font-weight: 300;
                font-size: 16px;
                color: #000;
                margin-bottom: 35px;
            }

            button {
                font-family: 'Inter';
                display: inline-block;
                color: white;
                background: rgba(13, 232, 5, 0.705);
                border: 1px transparent solid;
                padding: 12px 40px;
                line-height: 1.4;
                font-size: 16px;
                font-weight: 500;
                border-radius: 30px;
                text-transform: uppercase;
                transition: all .5s ease;
                cursor: pointer;
                width: 180px;

                a {
                    color: white;
                    text-decoration: none;
                }

                &:hover {
                    background: rgb(17, 94, 17);
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 40vw;
            margin-top: 100px;

            label {
                font-family: 'Inter';
                color: rgb(48, 44, 45);
                margin-bottom: 6px;
                font-size: 15px;
            }

            input {
                font-family: 'Inter';
                color: #000;
                width: 100%;
                border: 1px #000 solid;
                padding: 12px 10px;
                font-size: 16px;
                border-radius: 6px;
                margin-bottom: 15px;
            }

            textarea {
                font-family: 'Inter';
                color: #000;
                width: 100%;
                border: 1px #000 solid;
                padding: 25px 10px;
                font-size: 16px;
                border-radius: 6px;
                margin-bottom: 15px;
            }

            button {
                font-family: 'Inter';
                display: inline-block;
                color: white;
                border: 2px solid rgb(149, 0, 255);
                background: rgb(149, 0, 255);
                padding: 12px 40px;
                line-height: 1.4;
                font-size: 16px;
                font-weight: 500;
                border-radius: 30px;
                text-transform: uppercase;
                transition: all .5s ease;
                cursor: pointer;
                width: 150px;

                a {
                    color: white;
                    text-decoration: none;
                }

                &:hover {
                    background: transparent;
                    border: 2px solid rgb(149, 0, 255);
                    color: rgb(149, 0, 255) !important;
                }
            }
        }
    }
}

footer {
    background-color: #302c2d;
    width: 100vw;
    height: 145px;
    margin-top: 75px;
}

@media (max-width: 1024px) {
    #main-section {
        h1 {
            font-size: 62px;
        }
    }

    nav {
        .hamburger {
            display: block !important;
        }

        li a {
            display: none;
        }
    }
}

@media (max-width: 1002px) {
    #main-section {
        .apply-img {
            width: 750px !important;
        }
    }
}

@media (max-width: 768px) {
    #main-section {
        .apply-img {
            width: 650px !important;
        }
    }

    .flex-container {
        flex-direction: column;

        .text-container {
            width: 90vw !important;
            margin-left: 5vw !important;
            margin-top: 45px !important;
        }

        form {
            width: 90vw !important;
            margin-left: 5vw !important;
            margin-top: 45px !important;
        }
    }
}

@media (max-width: 690px) {
    #main-section {
        .apply-img {
            width: 550px !important;
            height: 500px;
        }

        h1 {
            font-size: 52px !important;
            width: 80vw !important;
        }
    }
}

@media (max-width: 580px) {
    #main-section {
        .apply-img {
            width: 520px !important;
            height: 460px !important;
        }

        h1 {
            font-size: 45px !important;
        }
    }
}

