@use "./utility/reset";
@use "./utility/navbar";


#main-section {
    .team-img {
        object-fit: cover !important;
        position: absolute;
        height: 600px;
        width: 950px;
        right: 0;
        top: 0;
        z-index: -2;
    }

    .overlay-div {
        position: absolute;
        height: 600px;
        width: 950px;
        right: 0;
        top: 0;
        z-index: -1;
        opacity: 0.7;
        background-color: #302c2d;
    }

    .grey-background {
        height: calc(670px + 600px);
        width: 100vw;
        z-index: -5;
        background-color: #302c2d;
        position: absolute;
        top: 0;
    }

    h1 {
        font-size: 67px;
        font-family: 'Inter';
        line-height: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        width: 78vw;
        position: absolute;
        left: 12vw;
        top: 375px;
    }

    h6 {
        position: absolute;
        left: 12vw;
        white-space: pre-line;
        text-overflow: clip;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 13px;
        text-transform: none;
        color: #fff;
        text-align: left;
        top: 360px;

    }
}


#hero-part2 {
    .banner {
        height: 670px;
        width: 10vw;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 600px;
    }

    .team-section-img {
        height: 670px;
        width: 42vw;
        object-fit: cover;
        position: absolute;
        right: 10vw;
        top: 600px;
    }

    .overlay-div2 {
        height: 670px;
        width: 42vw;
        right: 10vw;
        top: 600px;
        opacity: 0.7;
        background-color: #4b494a;
        position: absolute;
    }

    .text-container {
        position: absolute;
        top: 800px;
        left: 5vw;

        h6 {
            white-space: pre-line;
            text-overflow: clip;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 13px;
            text-transform: none;
            color: #fff;
            text-align: left;
            width: 40vw;
        }
    
        h1 {
            font-size: 52px;
            font-family: 'Inter';
            line-height: 1.3em;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            text-align: left;
            width: 40vw;
        }
    
        p {
            width: 40vw;
            text-transform: none;
            white-space: pre-line;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 16px;
            color: #fff;
            margin-top: 10px;
        }
    }
}

#team-display {
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 100vw;
height: 100%;
position: absolute;
top: 1320px;

    h1 {
        font-size: 40px;
        font-family: 'Inter';
        line-height: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        text-align: left;
        width: 100vw;
        margin: 3vw 0vw 0px 6vw;
    }

    .team-display-text {
        text-transform: none;
        white-space: pre-line;
        font-family: 'Inter';
        line-height: 1.4em;
        font-weight: 300;
        font-size: 16px;
        color: rgb(48, 44, 45);
        width: 50vw;
        height: 16px;
        margin: 0vw 0vw 0px 6vw;
    }

    .team-text-container {
        margin-bottom: 50px;
        margin-left: 6vw;
    }

    .main-container {
        position: relative;
        padding: 35px;

        img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            padding: 30px;
            object-fit: cover;
        }

        .the-cards:hover {
            transform: rotateY(180deg);
        }

        .the-cards {
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;
            width: 270px;
            height: 270px;

            .front, .back {
                position: absolute;
                width: 270px;
                height: 270px;
                backface-visibility: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }

            .back {
                transform: rotateY(180deg);
                background: rgba(255, 219, 187, 0.95);
                text-transform: none;
                white-space: pre-line;
                font-family: 'Inter';
                line-height: 1.4em;
                font-weight: 500;
                font-size: 20px;
                color: #fff;
                text-align: center;
            }
        }
        p {
            text-align: center;
            text-transform: none;
            white-space: pre-line;
            font-family: 'Inter';
            line-height: 1.4em;
            font-weight: 300;
            font-size: 16px;
            color: rgb(48, 44, 45);
        }
}
}

@media (max-width: 1182px) {
    #hero-part2 {
        h1 {
            font-size: 60px !important;
        }
    }

    #team-display {
        .team-display-text {
            width: 70vw !important;
        }
    }
}

@media (max-width: 1024px) {
    #main-section {
        h1 {
            font-size: 62px;
        }
    }

    nav {
        .hamburger {
            display: block !important;
        }

        li a {
            display: none;
        }
    }
}

@media (max-width: 1002px) {
    #main-section {
        .team-img {
            width: 750px !important;
        }
    }

    #hero-part2 {
        h1 {
            font-size: 55px !important;
        }

        .text-container {
            left: 3vw;
        }
    }
}

@media (max-width: 920px) {
    #hero-part2 {
        h1 {
            font-size: 46px !important;
        }
    }
}

@media (max-width: 768px) {
    #main-section {
        .team-img {
            width: 650px !important;
        }
    }

    #hero-part2 {
        .text-container {
            top: 670px;
            left: 5vw;

            h6, h1, p {
                width: 80vw;
            }
        }
        .team-section-img, .overlay-div2 {
            width: 85vw;
            left: 0px;
            top: 900px;
            height: 550px;
        }

        .banner {
            width: 15vw;
            right: 0px;
            top: 900px;
            height: 550px;
        }
    }

    #team-display {
        top: 1500px !important;

        .team-display-text {
            width: 90vw !important;
        }

    }
}

@media (max-width: 690px) {
    #main-section {
        .team-img {
            width: 550px !important;
            height: 500px;
        }

        h1 {
            font-size: 50px;
            width: 80vw;
            top: 270px;
        }

        h6 {
            top: 255px;
        }

        h6, h1 {
            left: 8vw;
        }
    }

    #hero-part2 {
        .text-container {
            top: 590px;
        }

        .team-section-img, .overlay-div2, .banner {
            top: 820px;
        }
    }

    #team-display {
        top: 1420px !important;
    }
}


@media (max-width: 580px) {
    #main-section {
        .team-img {
            width: 520px !important;
            height: 460px;
        }

        h1 {
            font-size: 45px;
            top: 220px;
        }

        h6 {
            top: 195px;
        }

        h6, h1 {
            left: 8vw;
        }
    }

    #hero-part2 {
        .text-container {
            top: 520px;
        }

        .team-section-img, .overlay-div2, .banner {
            top: 750px;
        }
    }

    #team-display {
        top: 1350px !important;

        h1 {
            font-size: 30px;
        }
    }
}

@media (max-width: 500px) {
    #hero-part2 {
        h1 {
            font-size: 40px !important;
        }
    }
}

@media (max-width: 435px) {
    #hero-part2 {
        .text-container {
            top: 512px;
        }
    }
}